---
interface SearchResult {
  data: {
    id: string;
    name: string;
    url: string;
  }[];
}

const url = Astro.request.url;
const query = new URL(url, "http://localhost").searchParams;
const searchQuery = query.get("q") || "";
let searchResult: SearchResult | null = null;

if (searchQuery) {
  const response = await fetch(`http://localhost:8091/ufyle/search?q=${searchQuery}`);
  searchResult = (await response.json()) as SearchResult;
}
---

<style>
  .search-block {
    margin: 50px 0px 50px 0px;
    background-color: #f4a261;
    border-radius: 15px;
    padding: 30px;
  }
</style>

<div class='search-block'>
  <h2>Dateisuche</h2>
  <form method='get'>
    <input type='text' name='q' placeholder='Suchbegriff eingeben...' value={searchQuery} />
    <button type='submit'>Suchen</button>
  </form>

  {
    searchResult && (
      <div>
        <h3>Suchergebnisse:</h3>
        <ul>
          {searchResult.data.map((item) => (
            <li>
              <strong>{item.name}</strong> - <a href={item.url}>{item.url}</a>
            </li>
          ))}
        </ul>
      </div>
    )
  }
</div>
